---
import Layout from '../layouts/BlogPost.astro'

const getYearDiff = () => {
	const diff = new Date().getTime() - new Date(2019, 4, 1).getTime()
	const yearDiff = diff / (525600 * 60 * 1000)
	return Math.ceil(yearDiff).toString()
}
---

<Layout
	title="A little about me..."
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date()}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>I was born and raised in <strong>Wilmington, North Carolina</strong>.</p>
	I've got a Bachelor's Degree in <strong>Computer Science</strong>,
	<br />
	and I'm working on a Master's Degree in <strong>Computer Science</strong> as well.
	<p>
		I've been working as a Software Engineer for <strong
			>{getYearDiff()} years</strong
		>
	</p>
</Layout>
