---
import Layout from '../layouts/BlogPost.astro'
---

<Layout
	title="A Little About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date()}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>I'm born and raised in <strong>Wilmington, North Carolina</strong>.</p>
	<p>I've got a Bachelor's Degree in <strong>Computer Science</strong>.</p>
	<p>I've been working as a Software Engineer for <strong>5 years</strong></p>
	<p>
		I'm currently working on a Master's Degree in <strong
			>Computer Science</strong
		> as well.
	</p>
</Layout>
