.footer {
  background-color: var(--text-color);
  color: white;
  padding-top: 4rem;

  .links-holder {
    display: flex;
    gap: 2rem;
  }
}

.footer-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 4rem;
  padding-bottom: 3rem;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.footer-logo span {
  color: var(--secondary-color);
}

.footer-brand p {
  margin-top: 1rem;
  color: #9ca3af;
}

.footer-links {
  display: flex;
  gap: 3rem;
  flex-direction: row;
}
.footer-section h4 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.footer-section ul li {
  margin-bottom: 0.75rem;
}

.footer-section ul li a {
  color: #9ca3af;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: white;
}

.footer-bottom {
  border-top: 1px solid #374151;
  padding: 1.5rem 0;
  text-align: center;
}

.footer-bottom p {
  color: #9ca3af;
  font-size: 0.875rem;
}

@media (max-width: 768px) {
  .footer-content {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 3rem;
  }

}
