---
import HeaderLink from './HeaderLink.astro'
---

<header>
	<nav>
		<a id="home-logo" href="/"
			><svg
				width="75"
				height="50"
				viewBox="0 0 205 156"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<g filter="url(#filter0_f_98_7)">
					<path
						d="M32.9162 121.52C31.4362 121.52 29.9562 121.076 28.4762 120.188C26.9962 119.201 25.9602 117.919 25.3682 116.34V111.752C25.3682 109.088 25.8122 106.473 26.7002 103.908C27.5882 101.343 28.0815 98.728 28.1802 96.064C26.1082 96.064 23.9868 96.0147 21.8162 95.916C19.7442 95.7187 17.9682 95.0773 16.4882 93.992C15.1068 92.808 14.4162 90.736 14.4162 87.776C14.4162 84.816 15.1562 82.744 16.6362 81.56C18.2148 80.376 20.1388 79.636 22.4082 79.34C24.6775 79.044 26.8975 78.7973 29.0682 78.6C31.2388 78.4027 32.9655 77.7613 34.2482 76.676L36.4682 74.456C37.2575 73.1733 37.8002 71.7427 38.0962 70.164C38.3922 68.5853 38.9842 67.1547 39.8722 65.872C40.4642 64.5893 41.4015 62.616 42.6842 59.952C44.0655 57.288 45.4962 54.4267 46.9762 51.368C48.4562 48.3093 49.8375 45.5467 51.1202 43.08C52.4028 40.6133 53.2908 38.936 53.7842 38.048C54.7708 36.3707 56.0042 34.348 57.4842 31.98C59.0628 29.5133 60.8388 27.3427 62.8122 25.468C64.8842 23.5933 67.0055 22.656 69.1762 22.656C72.4322 22.656 75.0468 23.6427 77.0202 25.616C79.0922 27.4907 80.7695 29.8093 82.0522 32.572C83.3348 35.236 84.5188 37.752 85.6042 40.12C90.3402 50.6773 94.5828 61.6787 98.3322 73.124C102.18 84.5693 105.239 96.0147 107.508 107.46V109.68C107.508 111.555 106.818 113.528 105.436 115.6C104.154 117.573 102.575 118.56 100.7 118.56C97.9375 118.56 95.8162 117.82 94.3362 116.34C92.8562 114.86 91.7708 112.985 91.0802 110.716C90.3895 108.447 89.8468 106.079 89.4522 103.612C89.1562 101.145 88.7122 98.9253 88.1202 96.952C87.5282 94.88 86.5415 93.3507 85.1602 92.364H72.1362C70.6562 92.364 69.0775 92.364 67.4002 92.364C65.7228 92.2653 64.0455 92.216 62.3682 92.216C60.2962 92.216 58.2242 92.3147 56.1522 92.512C54.1788 92.7093 52.3042 93.1533 50.5282 93.844C48.2588 94.6333 46.6308 96.1133 45.6442 98.284C44.6575 100.356 43.9175 102.724 43.4242 105.388C42.9308 107.953 42.3882 110.469 41.7962 112.936C41.2042 115.403 40.2668 117.475 38.9842 119.152C37.7015 120.731 35.6788 121.52 32.9162 121.52ZM55.4122 75.788H59.1122C62.4668 75.788 65.5748 75.788 68.4362 75.788C71.3962 75.6893 75.2935 75.492 80.1282 75.196V73.864C80.1282 72.7787 79.9802 71.7427 79.6842 70.756C79.4868 69.6707 79.1415 68.5853 78.6482 67.5C77.9575 65.3293 77.0202 62.764 75.8362 59.804C74.6522 56.7453 73.5175 53.9333 72.4322 51.368C71.3468 48.704 70.5575 46.8787 70.0642 45.892C69.9655 45.7933 69.6695 45.744 69.1762 45.744H68.7322C68.0415 46.7307 67.4495 47.816 66.9562 49C66.5615 50.0853 65.9695 51.1213 65.1802 52.108C64.7855 53.0947 64.0948 54.5747 63.1082 56.548C62.2202 58.4227 61.2335 60.4947 60.1482 62.764C59.0628 64.9347 58.0268 67.056 57.0402 69.128C56.1522 71.1013 55.4615 72.68 54.9682 73.864V74.604C54.9682 75.3933 55.1162 75.788 55.4122 75.788ZM144.179 123.74C140.331 123.74 137.124 123.493 134.559 123C132.092 122.507 130.069 121.323 128.491 119.448C127.011 117.475 125.827 114.465 124.939 110.42C122.077 109.729 120.005 108.496 118.723 106.72C117.539 104.845 116.947 102.428 116.947 99.468V96.508C117.637 91.3773 118.279 86.6413 118.871 82.3C119.463 77.86 119.759 73.124 119.759 68.092C119.759 64.1453 119.709 60.692 119.611 57.732C119.611 54.6733 119.413 51.072 119.019 46.928C119.117 46.4347 118.525 45.9907 117.243 45.596C115.96 45.2013 115.121 44.9547 114.727 44.856C113.444 44.3627 112.26 43.5733 111.175 42.488C110.089 41.304 109.547 39.6267 109.547 37.456C109.547 34.9893 110.681 32.7693 112.951 30.796C115.319 28.724 118.328 26.8987 121.979 25.32C125.728 23.7413 129.625 22.4587 133.671 21.472C137.716 20.3867 141.515 19.5973 145.067 19.104C148.619 18.512 151.431 18.216 153.503 18.216C158.436 18.216 163.073 19.2027 167.415 21.176C171.756 23.0507 175.308 25.8627 178.071 29.612C180.833 33.2627 182.215 37.8013 182.215 43.228V46.928C181.919 48.112 181.327 49.4933 180.439 51.072C179.649 52.6507 178.86 54.18 178.071 55.66C177.38 57.14 177.035 58.324 177.035 59.212C177.035 59.7053 177.627 60.2973 178.811 60.988C180.093 61.58 181.425 62.172 182.807 62.764C184.287 63.2573 185.273 63.7507 185.767 64.244C189.713 67.8947 192.624 71.5453 194.499 75.196C196.472 78.8467 197.459 83.2867 197.459 88.516V94.436C196.275 99.764 193.66 104.303 189.615 108.052C185.668 111.801 181.031 114.86 175.703 117.228C170.375 119.497 164.899 121.175 159.275 122.26C153.651 123.247 148.619 123.74 144.179 123.74ZM133.819 106.424H142.551C147.287 106.424 151.579 106.227 155.427 105.832C159.373 105.339 163.073 104.303 166.527 102.724C169.98 101.047 173.433 98.432 176.887 94.88C178.268 93.4987 179.304 92.1173 179.995 90.736C180.685 89.3547 181.031 87.6773 181.031 85.704C181.031 82.448 179.699 79.7347 177.035 77.564C174.371 75.2947 171.361 74.16 168.007 74.16H144.771C142.107 74.16 140.775 72.6307 140.775 69.572C140.775 69.1773 140.775 68.7827 140.775 68.388C140.873 67.9933 140.923 67.648 140.923 67.352C140.923 64.688 141.761 62.5667 143.439 60.988C145.116 59.3107 147.188 57.9293 149.655 56.844C152.121 55.66 154.539 54.476 156.907 53.292C159.373 52.0093 161.445 50.5293 163.123 48.852C164.8 47.076 165.639 44.7573 165.639 41.896C165.639 39.9227 164.899 38.4427 163.419 37.456C162.037 36.4693 160.409 35.7787 158.535 35.384C156.66 34.9893 154.983 34.792 153.503 34.792C150.345 34.792 147.04 35.1867 143.587 35.976C140.133 36.7653 137.42 38.2947 135.447 40.564V46.188C135.447 50.924 135.545 55.66 135.743 60.396C136.039 65.132 136.187 69.868 136.187 74.604V81.116C136.187 81.9053 136.137 83.2373 136.039 85.112C135.94 86.888 135.792 88.664 135.595 90.44C135.496 92.216 135.447 93.4987 135.447 94.288C135.447 96.2613 135.101 98.2347 134.411 100.208C133.819 102.083 133.424 104.007 133.227 105.98L133.819 106.424Z"
						fill="#CD47D9"></path>
				</g>
				<g filter="url(#filter1_f_98_7)">
					<path
						d="M24.9162 113.52C23.4362 113.52 21.9562 113.076 20.4762 112.188C18.9962 111.201 17.9602 109.919 17.3682 108.34V103.752C17.3682 101.088 17.8122 98.4733 18.7002 95.908C19.5882 93.3427 20.0815 90.728 20.1802 88.064C18.1082 88.064 15.9868 88.0147 13.8162 87.916C11.7442 87.7187 9.96818 87.0773 8.48818 85.992C7.10684 84.808 6.41618 82.736 6.41618 79.776C6.41618 76.816 7.15618 74.744 8.63618 73.56C10.2148 72.376 12.1388 71.636 14.4082 71.34C16.6775 71.044 18.8975 70.7973 21.0682 70.6C23.2388 70.4027 24.9655 69.7613 26.2482 68.676L28.4682 66.456C29.2575 65.1733 29.8002 63.7427 30.0962 62.164C30.3922 60.5853 30.9842 59.1547 31.8722 57.872C32.4642 56.5893 33.4015 54.616 34.6842 51.952C36.0655 49.288 37.4962 46.4267 38.9762 43.368C40.4562 40.3093 41.8375 37.5467 43.1202 35.08C44.4028 32.6133 45.2908 30.936 45.7842 30.048C46.7708 28.3707 48.0042 26.348 49.4842 23.98C51.0628 21.5133 52.8388 19.3427 54.8122 17.468C56.8842 15.5933 59.0055 14.656 61.1762 14.656C64.4322 14.656 67.0468 15.6427 69.0202 17.616C71.0922 19.4907 72.7695 21.8093 74.0522 24.572C75.3348 27.236 76.5188 29.752 77.6042 32.12C82.3402 42.6773 86.5828 53.6787 90.3322 65.124C94.1802 76.5693 97.2388 88.0147 99.5082 99.46V101.68C99.5082 103.555 98.8175 105.528 97.4362 107.6C96.1535 109.573 94.5748 110.56 92.7002 110.56C89.9375 110.56 87.8162 109.82 86.3362 108.34C84.8562 106.86 83.7708 104.985 83.0802 102.716C82.3895 100.447 81.8468 98.0787 81.4522 95.612C81.1562 93.1453 80.7122 90.9253 80.1202 88.952C79.5282 86.88 78.5415 85.3507 77.1602 84.364H64.1362C62.6562 84.364 61.0775 84.364 59.4002 84.364C57.7228 84.2653 56.0455 84.216 54.3682 84.216C52.2962 84.216 50.2242 84.3147 48.1522 84.512C46.1788 84.7093 44.3042 85.1533 42.5282 85.844C40.2588 86.6333 38.6308 88.1133 37.6442 90.284C36.6575 92.356 35.9175 94.724 35.4242 97.388C34.9308 99.9533 34.3882 102.469 33.7962 104.936C33.2042 107.403 32.2668 109.475 30.9842 111.152C29.7015 112.731 27.6788 113.52 24.9162 113.52ZM47.4122 67.788H51.1122C54.4668 67.788 57.5748 67.788 60.4362 67.788C63.3962 67.6893 67.2935 67.492 72.1282 67.196V65.864C72.1282 64.7787 71.9802 63.7427 71.6842 62.756C71.4868 61.6707 71.1415 60.5853 70.6482 59.5C69.9575 57.3293 69.0202 54.764 67.8362 51.804C66.6522 48.7453 65.5175 45.9333 64.4322 43.368C63.3468 40.704 62.5575 38.8787 62.0642 37.892C61.9655 37.7933 61.6695 37.744 61.1762 37.744H60.7322C60.0415 38.7307 59.4495 39.816 58.9562 41C58.5615 42.0853 57.9695 43.1213 57.1802 44.108C56.7855 45.0947 56.0948 46.5747 55.1082 48.548C54.2202 50.4227 53.2335 52.4947 52.1482 54.764C51.0628 56.9347 50.0268 59.056 49.0402 61.128C48.1522 63.1013 47.4615 64.68 46.9682 65.864V66.604C46.9682 67.3933 47.1162 67.788 47.4122 67.788ZM136.179 115.74C132.331 115.74 129.124 115.493 126.559 115C124.092 114.507 122.069 113.323 120.491 111.448C119.011 109.475 117.827 106.465 116.939 102.42C114.077 101.729 112.005 100.496 110.723 98.72C109.539 96.8453 108.947 94.428 108.947 91.468V88.508C109.637 83.3773 110.279 78.6413 110.871 74.3C111.463 69.86 111.759 65.124 111.759 60.092C111.759 56.1453 111.709 52.692 111.611 49.732C111.611 46.6733 111.413 43.072 111.019 38.928C111.117 38.4347 110.525 37.9907 109.243 37.596C107.96 37.2013 107.121 36.9547 106.727 36.856C105.444 36.3627 104.26 35.5733 103.175 34.488C102.089 33.304 101.547 31.6267 101.547 29.456C101.547 26.9893 102.681 24.7693 104.951 22.796C107.319 20.724 110.328 18.8987 113.979 17.32C117.728 15.7413 121.625 14.4587 125.671 13.472C129.716 12.3867 133.515 11.5973 137.067 11.104C140.619 10.512 143.431 10.216 145.503 10.216C150.436 10.216 155.073 11.2027 159.415 13.176C163.756 15.0507 167.308 17.8627 170.071 21.612C172.833 25.2627 174.215 29.8013 174.215 35.228V38.928C173.919 40.112 173.327 41.4933 172.439 43.072C171.649 44.6507 170.86 46.18 170.071 47.66C169.38 49.14 169.035 50.324 169.035 51.212C169.035 51.7053 169.627 52.2973 170.811 52.988C172.093 53.58 173.425 54.172 174.807 54.764C176.287 55.2573 177.273 55.7507 177.767 56.244C181.713 59.8947 184.624 63.5453 186.499 67.196C188.472 70.8467 189.459 75.2867 189.459 80.516V86.436C188.275 91.764 185.66 96.3027 181.615 100.052C177.668 103.801 173.031 106.86 167.703 109.228C162.375 111.497 156.899 113.175 151.275 114.26C145.651 115.247 140.619 115.74 136.179 115.74ZM125.819 98.424H134.551C139.287 98.424 143.579 98.2267 147.427 97.832C151.373 97.3387 155.073 96.3027 158.527 94.724C161.98 93.0467 165.433 90.432 168.887 86.88C170.268 85.4987 171.304 84.1173 171.995 82.736C172.685 81.3547 173.031 79.6773 173.031 77.704C173.031 74.448 171.699 71.7347 169.035 69.564C166.371 67.2947 163.361 66.16 160.007 66.16H136.771C134.107 66.16 132.775 64.6307 132.775 61.572C132.775 61.1773 132.775 60.7827 132.775 60.388C132.873 59.9933 132.923 59.648 132.923 59.352C132.923 56.688 133.761 54.5667 135.439 52.988C137.116 51.3107 139.188 49.9293 141.655 48.844C144.121 47.66 146.539 46.476 148.907 45.292C151.373 44.0093 153.445 42.5293 155.123 40.852C156.8 39.076 157.639 36.7573 157.639 33.896C157.639 31.9227 156.899 30.4427 155.419 29.456C154.037 28.4693 152.409 27.7787 150.535 27.384C148.66 26.9893 146.983 26.792 145.503 26.792C142.345 26.792 139.04 27.1867 135.587 27.976C132.133 28.7653 129.42 30.2947 127.447 32.564V38.188C127.447 42.924 127.545 47.66 127.743 52.396C128.039 57.132 128.187 61.868 128.187 66.604V73.116C128.187 73.9053 128.137 75.2373 128.039 77.112C127.94 78.888 127.792 80.664 127.595 82.44C127.496 84.216 127.447 85.4987 127.447 86.288C127.447 88.2613 127.101 90.2347 126.411 92.208C125.819 94.0827 125.424 96.0067 125.227 97.98L125.819 98.424Z"
						fill="#1ECCD7"></path>
				</g>
				<path
					d="M28.9162 117.52C27.4362 117.52 25.9562 117.076 24.4762 116.188C22.9962 115.201 21.9602 113.919 21.3682 112.34V107.752C21.3682 105.088 21.8122 102.473 22.7002 99.908C23.5882 97.3427 24.0815 94.728 24.1802 92.064C22.1082 92.064 19.9868 92.0147 17.8162 91.916C15.7442 91.7187 13.9682 91.0773 12.4882 89.992C11.1068 88.808 10.4162 86.736 10.4162 83.776C10.4162 80.816 11.1562 78.744 12.6362 77.56C14.2148 76.376 16.1388 75.636 18.4082 75.34C20.6775 75.044 22.8975 74.7973 25.0682 74.6C27.2388 74.4027 28.9655 73.7613 30.2482 72.676L32.4682 70.456C33.2575 69.1733 33.8002 67.7427 34.0962 66.164C34.3922 64.5853 34.9842 63.1547 35.8722 61.872C36.4642 60.5893 37.4015 58.616 38.6842 55.952C40.0655 53.288 41.4962 50.4267 42.9762 47.368C44.4562 44.3093 45.8375 41.5467 47.1202 39.08C48.4028 36.6133 49.2908 34.936 49.7842 34.048C50.7708 32.3707 52.0042 30.348 53.4842 27.98C55.0628 25.5133 56.8388 23.3427 58.8122 21.468C60.8842 19.5933 63.0055 18.656 65.1762 18.656C68.4322 18.656 71.0468 19.6427 73.0202 21.616C75.0922 23.4907 76.7695 25.8093 78.0522 28.572C79.3348 31.236 80.5188 33.752 81.6042 36.12C86.3402 46.6773 90.5828 57.6787 94.3322 69.124C98.1802 80.5693 101.239 92.0147 103.508 103.46V105.68C103.508 107.555 102.818 109.528 101.436 111.6C100.154 113.573 98.5748 114.56 96.7002 114.56C93.9375 114.56 91.8162 113.82 90.3362 112.34C88.8562 110.86 87.7708 108.985 87.0802 106.716C86.3895 104.447 85.8468 102.079 85.4522 99.612C85.1562 97.1453 84.7122 94.9253 84.1202 92.952C83.5282 90.88 82.5415 89.3507 81.1602 88.364H68.1362C66.6562 88.364 65.0775 88.364 63.4002 88.364C61.7228 88.2653 60.0455 88.216 58.3682 88.216C56.2962 88.216 54.2242 88.3147 52.1522 88.512C50.1788 88.7093 48.3042 89.1533 46.5282 89.844C44.2588 90.6333 42.6308 92.1133 41.6442 94.284C40.6575 96.356 39.9175 98.724 39.4242 101.388C38.9308 103.953 38.3882 106.469 37.7962 108.936C37.2042 111.403 36.2668 113.475 34.9842 115.152C33.7015 116.731 31.6788 117.52 28.9162 117.52ZM51.4122 71.788H55.1122C58.4668 71.788 61.5748 71.788 64.4362 71.788C67.3962 71.6893 71.2935 71.492 76.1282 71.196V69.864C76.1282 68.7787 75.9802 67.7427 75.6842 66.756C75.4868 65.6707 75.1415 64.5853 74.6482 63.5C73.9575 61.3293 73.0202 58.764 71.8362 55.804C70.6522 52.7453 69.5175 49.9333 68.4322 47.368C67.3468 44.704 66.5575 42.8787 66.0642 41.892C65.9655 41.7933 65.6695 41.744 65.1762 41.744H64.7322C64.0415 42.7307 63.4495 43.816 62.9562 45C62.5615 46.0853 61.9695 47.1213 61.1802 48.108C60.7855 49.0947 60.0948 50.5747 59.1082 52.548C58.2202 54.4227 57.2335 56.4947 56.1482 58.764C55.0628 60.9347 54.0268 63.056 53.0402 65.128C52.1522 67.1013 51.4615 68.68 50.9682 69.864V70.604C50.9682 71.3933 51.1162 71.788 51.4122 71.788ZM140.179 119.74C136.331 119.74 133.124 119.493 130.559 119C128.092 118.507 126.069 117.323 124.491 115.448C123.011 113.475 121.827 110.465 120.939 106.42C118.077 105.729 116.005 104.496 114.723 102.72C113.539 100.845 112.947 98.428 112.947 95.468V92.508C113.637 87.3773 114.279 82.6413 114.871 78.3C115.463 73.86 115.759 69.124 115.759 64.092C115.759 60.1453 115.709 56.692 115.611 53.732C115.611 50.6733 115.413 47.072 115.019 42.928C115.117 42.4347 114.525 41.9907 113.243 41.596C111.96 41.2013 111.121 40.9547 110.727 40.856C109.444 40.3627 108.26 39.5733 107.175 38.488C106.089 37.304 105.547 35.6267 105.547 33.456C105.547 30.9893 106.681 28.7693 108.951 26.796C111.319 24.724 114.328 22.8987 117.979 21.32C121.728 19.7413 125.625 18.4587 129.671 17.472C133.716 16.3867 137.515 15.5973 141.067 15.104C144.619 14.512 147.431 14.216 149.503 14.216C154.436 14.216 159.073 15.2027 163.415 17.176C167.756 19.0507 171.308 21.8627 174.071 25.612C176.833 29.2627 178.215 33.8013 178.215 39.228V42.928C177.919 44.112 177.327 45.4933 176.439 47.072C175.649 48.6507 174.86 50.18 174.071 51.66C173.38 53.14 173.035 54.324 173.035 55.212C173.035 55.7053 173.627 56.2973 174.811 56.988C176.093 57.58 177.425 58.172 178.807 58.764C180.287 59.2573 181.273 59.7507 181.767 60.244C185.713 63.8947 188.624 67.5453 190.499 71.196C192.472 74.8467 193.459 79.2867 193.459 84.516V90.436C192.275 95.764 189.66 100.303 185.615 104.052C181.668 107.801 177.031 110.86 171.703 113.228C166.375 115.497 160.899 117.175 155.275 118.26C149.651 119.247 144.619 119.74 140.179 119.74ZM129.819 102.424H138.551C143.287 102.424 147.579 102.227 151.427 101.832C155.373 101.339 159.073 100.303 162.527 98.724C165.98 97.0467 169.433 94.432 172.887 90.88C174.268 89.4987 175.304 88.1173 175.995 86.736C176.685 85.3547 177.031 83.6773 177.031 81.704C177.031 78.448 175.699 75.7347 173.035 73.564C170.371 71.2947 167.361 70.16 164.007 70.16H140.771C138.107 70.16 136.775 68.6307 136.775 65.572C136.775 65.1773 136.775 64.7827 136.775 64.388C136.873 63.9933 136.923 63.648 136.923 63.352C136.923 60.688 137.761 58.5667 139.439 56.988C141.116 55.3107 143.188 53.9293 145.655 52.844C148.121 51.66 150.539 50.476 152.907 49.292C155.373 48.0093 157.445 46.5293 159.123 44.852C160.8 43.076 161.639 40.7573 161.639 37.896C161.639 35.9227 160.899 34.4427 159.419 33.456C158.037 32.4693 156.409 31.7787 154.535 31.384C152.66 30.9893 150.983 30.792 149.503 30.792C146.345 30.792 143.04 31.1867 139.587 31.976C136.133 32.7653 133.42 34.2947 131.447 36.564V42.188C131.447 46.924 131.545 51.66 131.743 56.396C132.039 61.132 132.187 65.868 132.187 70.604V77.116C132.187 77.9053 132.137 79.2373 132.039 81.112C131.94 82.888 131.792 84.664 131.595 86.44C131.496 88.216 131.447 89.4987 131.447 90.288C131.447 92.2613 131.101 94.2347 130.411 96.208C129.819 98.0827 129.424 100.007 129.227 101.98L129.819 102.424Z"
					fill="black"></path>
				<defs>
					<filter
						id="filter0_f_98_7"
						x="8.41602"
						y="12.2158"
						width="195.043"
						height="117.524"
						filterUnits="userSpaceOnUse"
						color-interpolation-filters="sRGB"
					>
						<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
						<feBlend
							mode="normal"
							in="SourceGraphic"
							in2="BackgroundImageFix"
							result="shape"></feBlend>
						<feGaussianBlur
							stdDeviation="3"
							result="effect1_foregroundBlur_98_7"></feGaussianBlur>
					</filter>
					<filter
						id="filter1_f_98_7"
						x="0.416016"
						y="4.21582"
						width="195.043"
						height="117.524"
						filterUnits="userSpaceOnUse"
						color-interpolation-filters="sRGB"
					>
						<feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
						<feBlend
							mode="normal"
							in="SourceGraphic"
							in2="BackgroundImageFix"
							result="shape"></feBlend>
						<feGaussianBlur
							stdDeviation="3"
							result="effect1_foregroundBlur_98_7"></feGaussianBlur>
					</filter>
				</defs>
			</svg></a
		>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<div class="social-links">
			<a
				href="https://www.youtube.com/channel/UCU0CitVYVrFqdpJqmZzEL_Q"
				target="_blank"
			>
				<span class="sr-only">Subscribe on YouTube!</span>
				<svg viewBox="0 0 32 32" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M12.932 20.459v-8.917l7.839 4.459zM30.368 8.735c-0.354-1.301-1.354-2.307-2.625-2.663l-0.027-0.006c-3.193-0.406-6.886-0.638-10.634-0.638-0.381 0-0.761 0.002-1.14 0.007l0.058-0.001c-0.322-0.004-0.701-0.007-1.082-0.007-3.748 0-7.443 0.232-11.070 0.681l0.434-0.044c-1.297 0.363-2.297 1.368-2.644 2.643l-0.006 0.026c-0.4 2.109-0.628 4.536-0.628 7.016 0 0.088 0 0.176 0.001 0.263l-0-0.014c-0 0.074-0.001 0.162-0.001 0.25 0 2.48 0.229 4.906 0.666 7.259l-0.038-0.244c0.354 1.301 1.354 2.307 2.625 2.663l0.027 0.006c3.193 0.406 6.886 0.638 10.634 0.638 0.38 0 0.76-0.002 1.14-0.007l-0.058 0.001c0.322 0.004 0.702 0.007 1.082 0.007 3.749 0 7.443-0.232 11.070-0.681l-0.434 0.044c1.298-0.362 2.298-1.368 2.646-2.643l0.006-0.026c0.399-2.109 0.627-4.536 0.627-7.015 0-0.088-0-0.176-0.001-0.263l0 0.013c0-0.074 0.001-0.162 0.001-0.25 0-2.48-0.229-4.906-0.666-7.259l0.038 0.244z"
					></path></svg
				>
			</a>
			<a href="https://github.com/AustinB12" target="_blank">
				<span class="sr-only">Austin's GitHub</span>
				<svg viewBox="0 0 16 16" aria-hidden="true" width="32" height="32"
					><path
						fill="currentColor"
						d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
					></path></svg
				>
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 0.5em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav #home-logo {
		display: flex;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
