/* Global styles complementing MUI CssBaseline */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.aurora-container {
  width: 100%;
  height: clamp(300px, 40vh, 500px);
  top: 68px;
  position: absolute;
}

.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}

@media (max-width: 600px) {
  .aurora-container {
    display: none;
  }
}
